<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/contactus.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_item-list">
          <li class="main-header_item"><a href="/">Shop</a></li>
          <li class="main-header_item">
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header_item">
            <a href="/contactus">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="contact-form" action="/contactus" method="POST">
        <div class="form-control">
          <h2>Contact Us</h2>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" />
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
